body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514E;
}

h1{
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 4.625rem;
    color: #66BFBF;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
    padding-bottom: 10px;
}

h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

a{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}
a:hover{
    color: #EAF6f6;
}

hr{
    border: dotted #EAF6f6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

.spes{
    margin-bottom: 100px;
}

.intro{
    width: 50%;
    margin: auto;
    line-height: 2;
}

.top-container{
    background-color: #E4F9F5;
    padding-top: 140px;
    position: relative;
}

.top-cloud{
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 310px;
}

.middle-container{
    margin: 100px 0;
}

.bottom-container{
    background-color: #66BFBF;
    padding: 50px 0 20px;
}

.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    line-height: 1.5;
    text-align: left;
}

.edu-row{
    width: 50%;
    margin: 100px auto 100px auto;
    line-height: 1.5;
    /* text-align: left; */
}

.project-row{
    width: 50%;
    margin: 120px auto 120px auto;
    line-height: 1.5;
}

.programming{
    /* width: 25%; */
    float: left;
    margin-right: 50px;
}

.scripting{
    /* width: 25%; */
    float: right;
    margin-left: 30px;
}

.software{
    /* width: 25%; */
    float: left;
    margin-right: 50px;
}

.database{
    /* width: 25%; */
    float: right;
    margin-left: 30px;
}

.interest{
    /* width: 25%; */
    float: left;
    margin-right: 50px;
}

.hobbies{
    width: 50%;
    margin: 100px auto 100px auto;
    line-height: 1.5;
    text-align: left;
}

.craft{
    float: right;
    margin-left: 30px;
}

.contact-message{
    width: 40%;
    margin: 40px auto 60px;
}

.copyright{
    color: #EAF6F6;
    font-size: 0.76rem;
    padding: 20px 0;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3De3cb;
    background-image: -webkit-linear-gradient(top, #3De3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #3De3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #3De3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #3De3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #3De3cb, #2bc4ad);
    text-decoration: none;
  }

  .dashboard{
    /* width: 40%; */
    margin: 40px auto 60px;
  }

  .okinawa{
    margin: 40px auto 60px;
  }

  .resto{
    margin: 40px auto 60px;
  }

  .reactCRUD{
    margin: 40px auto 60px;
  }
  .TandT{
    margin: 40px auto 60px;
  }
